/* Police */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

/* Mise en PAGE */
html,body {
    margin: 0;
    padding: 0;
    width: 85%;
    font-family: "Lato";


}

.fond {
    background-color: #1C2833;
    background-size: cover;
    width: 85%;
    margin: auto;
    padding: auto;
    color: #ccc;

}

/* BANDO */
header {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #17202A;
    font-family: 'Roboto';
    font-weight: 700;
    letter-spacing: 1px;
}


nav ul {
    padding: 0;
    text-align: right;
    margin: 0;


}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    transition: all 0.4s ease-in-out;
    border-bottom: 2px solid transparent;
}

/* Lien */
a{
    color:  antiquewhite;
    text-decoration-line: none}

a:hover {
    color: darkslateblue;
    border-color: #fff;
    padding-bottom: 2px;
}


/* TEXTE */
.symbole {
    float: left;
    margin: 20px;
    font-weight: bold;
    font-size: 40px;
    color: #FFF;
}


.texte {
    margin: 4vh auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    width: 90%;

}

.margin {margin: 1%;}


/* FOOTER */
footer {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 8px;
    background-color: #17202A;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 1px;
}

footer .colonne p {
    font-size: 12px;
    color: #ccc;
    text-align: center;
}

footer .colonne p:hover {
    color: #fff;
}

footer .colonne p a {
    color: #ccc;
    text-decoration-line: none
}

footer .colonne p a:hover {
    color: #fff;
}

footer .colonne h3 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}
/* Image */

.image {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gif {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Apparition */


.titre {
    margin-top: 30px;
    margin-left: 5%;
    text-align: center;
    animation: apparition 0.8s ease-out;
}

/* Apparition */
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Media queries */
@media screen and (min-width: 0px) and (max-width: 900px) {
    h1 {display: none;}
   p.titre {display: none;}
    .gif {display: none;}



}