 {% extends 'myfirstapp/main.html' %}
 {% block content %}
 <head>
    <title>{{% block title %} Julien {% endblock %}</title>
 </head>

    <h1 class="titre">Bienvenue</h1>
    <div class="texte">
        <p class="titre">SUR CETTE PAGE...</p>
        <p>Je
    </div>
    <footer>
        <div class="colonne">
            <h3>SOURCE</h3>
            <p>Créateur</p>
            <p>Julien Losser</p>
            <p>Copyright <i class="far fa-copyright"></i></p>
        </div>
        <div class="colonne">
            <h3>Mes réseaux sociaux</h3>
            <p><a href="https://www.linkedin.com/in/julien-losser-567161221/">Linkedin <i class="fab fa-linkedin"></i></a></p>
            <p><a href="https://discord.gg/K3pvXHwHQu">Discord <i class="fab fa-discord"></i></a></p>
            <p><a href="https://twitter.com/BCL_APOKLYPS"> Twitter <i class="fab fa-twitter"></i></a></p>
        </div>
        <div class="colonne">
            <h3>Cordonnées PRO</h3>
            <p><a href="mailto:julien.losser@uha.fr">julien.losser@uha.fr </a></p>
            <p><a href="mailto:julien.losser22@gmail.com">julien.losser22@gmail.com</a></p>
            <a name="ancre"></a>
        </div>
    </footer>


 {% endblock %}