 {% extends 'myfirstapp/main.html' %}
 {% block content %}

 <title>{{% block title %} Identification {% endblock %}</title>


  {% load static %}

 <!-- les champs de formulaires -->
     <form class="texte" method="post" action="/affiche/">
    {% csrf_token %}
      {{ form }}
        <label for="password">Mots de passe :</label>
        <input type="password" name="password" minlength="8" required>
        <input type="submit" value="envoyer"/>
        </form>
    <img  class="gif" alt="Logo" src="{%static '/myfirstapp/gif.gif' %}"/>
 {% endblock %}